.container {
  border: 1px solid grey;
  border-radius: 9px;
  width: 100%;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.label {
  margin: 5px;
  padding: 5px;
}

.formContainer {
  width: 500px;
}

.submitButton {
  float: right;
  width: 100px;
  height: 30px;
  border-radius: 9px;
  background-color: darkblue;
  color: white;
  font: bold;
  font-size: 15px;
}
