.container {
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.label {
  margin: 5px;
  padding: 5px;
}

.formContainer {
  width: 500px;
}

.input {
  height: 15px;
  align-self: center;
}

.button {
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  align-self: center;
  margin: 5px;
  background-color: white;
  color: black;
}

.button:hover {
  color: white;
  background-color: darkblue;
  cursor: pointer;
}
