.container {
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.label {
  margin: 5px;
  padding: 5px;
}

.formContainer {
  width: 500px;
}
